
<div class="product-table1">
<h3>Products<%= link_to 'Add New', new_pin_path, class: "btn btn-medium btn-purple pull-right" %></h3>

<table class="table ">
              <thead>
                <tr>
                  <th></th>
                  <th>Markdown</th>
                  <th>Brand</th>
									<th>Description</th>
									<th>Qty</th>
                  <th>Edit</th>
                </tr>
              </thead>
              <tbody>
		<%= render @pins %> 
	</tbody>
	</table>
	</div>





