<!-- Marketing messaging and featurettes
	    ================================================== -->
	    <!-- Wrap the rest of the page in another container to center all the content. -->

	    <div class="container">
		<div style="padding-top:20px;">
<center><font size="6">Our Team</font></center><br><br>
	      <!-- Three columns of text below the carousel -->
	      <div class="row-fluid">
		  
	        <div class="span4">
	          <center><a href="#modal1" data-toggle="modal"><img class="img-polaroid" src="/assets/Patricia_Headshot.png"></a><br><br><font size="5"><b>Patricia Calfee</b></font><br><font size="4">Co-Founder</font></center><br>
	          
	        </div><!-- /.span4 -->
	        <div class="span4">
	          <center><a href="#modal2" data-toggle="modal"><img class="img-polaroid" src="assets/MST_Ian_Headshot.png"></a><br><br><font size="5"><b>Ian Picache</b></font><br><font size="4">Co-Founder</font></center><br>
	          
	        </div><!-- /.span4 -->
	        <div class="span4">
	         <center><a href="#modal3" data-toggle="modal"><img class="img-polaroid" src="https://s3.amazonaws.com/mst-images-shared/Jesse_235.jpg"></a><br><br><font size="5"><b>Jesse Lanum</b></font><br><font size="4">Co-Founder</font></center><br>
	          
	        </div><!-- /.span4 -->
	      </div><!-- /.row -->
		<div class="row-fluid">

	    <div class="span4">
        <center><a href="#modal6" data-toggle="modal"><img class="img-polaroid" src="/assets/Bev_MST_Headshot.png"></a><br><br><font size="5"><b>Beverly Stern</b></font><br><font size="4">Strategic Advisor</font></center><br>

      </div><!-- /.span4 -->    
	
			<div class="span4">
	          <center><a href="#modal4" data-toggle="modal"><img class="img-polaroid" src="assets/MST_Max.png"></a><br><br><font size="5"><b>Max Lansing</b></font><br><font size="4">Technology</font></center><br>

	        </div><!-- /.span4 -->
	<div class="span4">
	          <center><a href="#modal5" data-toggle="modal"><img class="img-polaroid" src="https://s3.amazonaws.com/mst-images-shared/Margaret.jpg"></a><br><br><font size="5"><b>Margaret Timbrell</b></font><br><font size="4">Retailer Advocate</font></center><br>

	        </div><!-- /.span4 -->
          </div>

	<div id="modal1" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-header">
	    <button type="button" class="close modal-brand" data-dismiss="modal" aria-hidden="true">×</button><center><a href="index.html"><img src="https://s3.amazonaws.com/mst-images-shared/Logo_Website_v2.png" class="modal-brand" height="34" width="180" /></a></center><br>
	    <p id="myModalLabel"></p>
	  </div>
	  <div class="modal-body">
	    	<p><strong>Patricia Calfee</strong> is an ecommerce and community entrepreneur.</p>
			<p>Previously, she co-founded Bergine, a local flash-sale business acquired by Gilt Groupe in 2010. She then moved into product manufacturing and built Roses &amp; Rye, a specialty footwear line celebrated by <em>People</em>, <em>WWD</em>, and <em>BabyCenter</em>.</p>
			<p>In 2006, Patricia created CSG, a non-profit online and classroom program that serves more than 13,000 K-8 students. In 2009, CSG became a San Francisco Unified School District managed program. Patricia's work was honored with the AT&amp;T Community Hero Award and AIGA Cause/Effect Award.</p>
			<p>She began her career managing product launches and public relations campaigns for Ian Schrager Company, Young &amp; Rubicam, and Razorfish. Patricia earned a BA in Economics from the University of San Francisco.</p>

	  </div>
	  <div class="modal-footer">
	    
	    
	  </div>
	</div>
	
	<div id="modal2" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-header">
	    <button type="button" class="close modal-brand" data-dismiss="modal" aria-hidden="true">×</button><center><a href="index.html"><img src="https://s3.amazonaws.com/mst-images-shared/Logo_Website_v2.png" class="modal-brand" height="34" width="180" /></a></center><br>
	    <p id="myModalLabel"></p>
	  </div>
	  <div class="modal-body">
	    	<p><strong>Ian Picache</strong> is an investor and entrepreneur.</p>
			<p>Since 1997, he has invested more than $300MM in businesses spanning a wide range of industries, including Internet, ecommerce, and telecommunications.</p>
			<p>Ian is a partner at Two Six Capital, where he applies his knowledge of lifetime customer value to the firm's investments. He previously invested with Technology Crossover Ventures, Vanguard Ventures, and Telesoft Partners. Ian began his career at Morgan Stanley.</p>
			<p>In 2010, he co-founded Bergine, a luxury local flash-sale business. Seven months after launching, Internet retail pioneer Gilt Groupe acquired the business.</p>
			<p>Ian holds a BA in Economics and Engineering from Dartmouth College and MBA from The Wharton School of the University of Pennsylvania.</p>
	  </div>
	  <div class="modal-footer">
	    
	    
	  </div>
	</div>
	
	<div id="modal3" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-header">
	    <button type="button" class="close modal-brand" data-dismiss="modal" aria-hidden="true">×</button><center><a href="index.html"><img src="https://s3.amazonaws.com/mst-images-shared/Logo_Website_v2.png" class="modal-brand" height="34" width="180" /></a></center><br>
	    <p id="myModalLabel"></p>
	  </div>
	  <div class="modal-body">
	    	<p><strong>Jesse Lanum</strong> focuses on user experience at MySaleTable.</p>
			<p>Previously, he managed customer experience at global DNS provider Nominum, and helped build a family-focused technology product.<p>
			<p>Jesse began his career working with NFL alum Scott McGarrahan to open Resolution Ranch, a school for troubled teens in Texas. Returning to California, he worked as an investigative reporter at newspaper conglomerate, Gibson Printing. While there, he led online strategy for the company’s entry onto the web.</p>
			<p>Jesse graduated with a BA from California Polytechnic State University. He is also the lead singer in an alt-country band.</p>
	  </div>
	  <div class="modal-footer">
	    
	   
	  </div>
	</div>
	
	<div id="modal4" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-header">
	    <button type="button" class="close modal-brand" data-dismiss="modal" aria-hidden="true">×</button><center><a href="index.html"><img src="https://s3.amazonaws.com/mst-images-shared/Logo_Website_v2.png" class="modal-brand" height="34" width="180" /></a></center><br>
	    <p id="myModalLabel"></p>
	  </div>
	  <div class="modal-body">
	    	<p><strong>Max Lansing</strong> leads technology at MySaleTable.</p>
<p>Max was a founding team member at Powerset where he was responsible for end-to-end development of Powerset Answers. In 2008, Powerset was acquired by Microsoft. Max went on to serve as Lead Developer at Bing (Microsoft) where he was contracted to build Powerset Answers for Bing.</p>
			<p>Previously, he worked as a developer at Trigger Consulting, where he created Magnolia, and at Amazon, where he developed on Block View with their company subsidiary, A9.</p>
			<p>Max holds a BA in Geography from the University of California Berkeley and is a fan of yoga retreats.</p>
	  </div>
	  <div class="modal-footer">
	    
	    
	  </div>
	</div>

<div id="modal5" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-header">
	    <button type="button" class="close modal-brand" data-dismiss="modal" aria-hidden="true">×</button><center><a href="index.html"><img src="https://s3.amazonaws.com/mst-images-shared/Logo_Website_v2.png" class="modal-brand" height="34" width="180" /></a></center><br>
	    <p id="myModalLabel"></p>
	  </div>
	  <div class="modal-body">
	    	<p><strong>Margaret Timbrell</strong> owns and manages a prosperous neighborhood boutique in San Francisco.</p>
		<p>She also serves as the voice of her local merchant association and understands the daily needs of retail business.</p>
	<p>At MySaleTable, Margaret provides insight and understanding into the needs of small retail businesses.</p>
		<p>	She has a BA in Fine Arts from New York University. She also has a passion for rescue dogs and Cowboy boots.</p>
	  </div>
	  <div class="modal-footer">
	    
	    
	  </div>
	</div>

     	<div id="modal6" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-header">
			    <button type="button" class="close modal-brand" data-dismiss="modal" aria-hidden="true">×</button><center><a href="index.html"><img src="https://s3.amazonaws.com/mst-images-shared/Logo_Website_v2.png" class="modal-brand" height="34" width="180" /></a></center><br>
			    <p id="myModalLabel"></p>
			  </div>
			  <div class="modal-body">
			    	<p><strong>Beverly</strong>  is a respected retail executive with deep knowledge of supply chain management and price optimization metrics.</p>
						<p>	She has served as General Merchandising Manager and SVP for GAP, Williams-Sonoma and Pottery Barn. 
						During her tenure at GAP, Beverly became a mother for the first time. After her baby was born, she conceived the idea for babyGAP while working with GAP CEO, Mickey Drexler. Beverly built babyGAP into one of the company’s most successful divisions.</p>
						<p>She has also held leading executive roles at Dean & DeLuca, Gymboree and Banana Republic.</p>
						<p>In 2003, Harvard Business School published a case study profiling her retail career.</p>
			  </div>
			  <div class="modal-footer">

			    
			  </div>
			</div>

	