<div class='container'>
<div class='content'>

<div class='section'>
<div class='row-fluid pricing-table'>
<div class='span4 pricing-box'>
<h2 class='tier-name'>Free</h2>
<div class='tier-desc'>
<div class='dollar-amount'>
<div class='dollar'>$</div>
<div class='amount'>0</div>
<div class='month'>&nbsp;</div>
</div>
<li>Receive product pricing alerts for up to (5)</li>
</div>
</div>
<div class='span4 pricing-box'>
<h2 class='tier-name'>Basic</h2>
<div class='tier-desc'>
<div class='dollar-amount'>
<div class='dollar'>$</div>
<div class='amount'>9.99</div>
<div class='month'>per store per month</div>
</div>
<span class="pricing-paragraph">
<li>Custom pricing dashboard for (50)</li>
<li>Markdown alerts for optimized sales</li>
<li>Trend reports from marketing experts</li></span>
</div>
</div>
<div class='span4 pricing-box'>
<h2 class='tier-name'>Professional</h2>
<div class='tier-desc'>
<div class='dollar-amount'>
<div class='dollar'>$</div>
<div class='amount'>29.99</div>
<div class='month'>per store per month</div>
</div>
<span class="pricing-paragraph">
<li>Integrate your entire POS system</li>
<li>(1000) products/month</li>
<li>Markdown alerts for optimized sales</li>
<li>Trend reports from industry experts</li></span>
</div>
</div>
</div>
</div>
<div class="section please-sign-up-section cl">
	<div class="please-integrate-blurb">Cras justo odio, dapibus ac facilisis in
	</div>
		<h2>Cras justo odio, dapibus ac facilisis in</h2>
		<a class="btn btn-purple btn-xlarge fr sign-up-btn" data-toggle="modal" href="#signup" role="button">
		Sign up for free
		</a>
	</div>
	<div class="section questions">
	<div class="column column-left">
	<div class="question">
	<h4>DOES PERSONALIZED DATA MATTER?</h4>
	<p>
	Yes. Seasonal or perishable products - such as white sandals, Easter baskets and heavy coats - should be monitored closely to ensure profitability.  When you confirm a Basic or Professional account, you have the ability to manage enough products so that your store profit is impacted.
	</p>
	<p>Cras justo odio, dapibus ac facilisis in</p>
	<ul class="list-square">
	<li>
	Cras justo odio, dapibus ac facilisis in
	</li>
	<li>
	Cras justo odio, dapibus ac facilisis in
	</li>
	<li>
	Cras justo odio, dapibus ac facilisis inCras justo odio, dapibus ac facilisis in
	</li>
	<li>
	Cras justo odio, dapibus ac facilisis in
	</li>
	</ul>
	</div>
	<div class="question">
	<h4>DO I NEED TO CONNECT MY POS SYSTEM?</h4>
	<p>
	Not necessary. You can join as a Free, Basic or Professional customer and quickly select the items you want to track from our product database.
	</p>
	</div>
	<div class="question">
	<h4>IS MY ACCOUNT AUTOMATICALLY BILLED?</h4>
	<p>
	Yes. If you’ve selected a Basic or Professional account we bill in (3) month increments. If you ever have questions regarding your billing, send us an email at stores@mysaletable.com and we’ll respond quickly.
	</p>
	</div>
	</div>
	<div class="column">
	<div class="question">
	<h4>IS IT EASY TO UPGRADE MY ACCOUNT?</h4>
	<p>Yes. Simply log in to your account and select the plan you’d like to switch to. It’s an easy process that takes less than a minute.</p>
	</div>
	<div class="question">
	<h4>HOW MANY STORES CAN I SUPPORT?</h4>
	<p>I don’t yet know the answer to this question, but if you hold, please, I will soon ascertain the boundaries of our database. I assume we should talk about the store count limit here, too. Let’s discuss.</p>
	</div>
	<div class="question">
	<h4>IS THERE ANOTHER QUESTION?</h4>
	<p>Yes, there always is.  In fact, I find that multiple questions often come from Europeans because zebras are a common animal.</p>
	</div>
	<div class="question">
	<h4>MY QUESTION ISN’T INCLUDED HERE.</h4>
	<p>Simple send an email to stores@mysaletable.com and we’ll talk soon!</p>
	</div>
	</div>
	</div>