<div class='container'>
<div class='content'>

<div class='section'>
<div class='row-fluid pricing-table'>
<div class='span4 pricing-box'>
<h2 class='tier-name'>Free</h2>
<div class='tier-desc'>
<div class='dollar-amount'>
<div class='dollar'>$</div>
<div class='amount'>0</div>
<div class='month'>&nbsp;</div>
</div>
<li>Optimized markdown alerts for (5) products</li>
</div>
</div>
<div class='span4 pricing-box'>
<h2 class='tier-name'>Basic</h2>
<div class='tier-desc'>
<div class='dollar-amount'>
<div class='dollar'>$</div>
<div class='amount'>9.99</div>
<div class='month'>per month</div>
</div>
<span class="pricing-paragraph">
<li>Optimized markdown alerts for (50) products</li>
<li>Customized pricing dashboard</li>
<li>Access to markdown trend reports</li></span>
</div>
</div>
<div class='span4 pricing-box'>
<h2 class='tier-name'>Professional</h2>
<div class='tier-desc'>
<div class='dollar-amount'>
<div class='dollar'>$</div>
<div class='amount'>29.99</div>
<div class='month'>per month</div>
</div>
<span class="pricing-paragraph">
<li>Optimized markdown alerts for (100) products</li>
<li>Customized pricing dashboard</li>
<li>Access to markdown trend reports</li>
<li>Access comparable store analysis</li></span>
</div>
</div>
</div>
</div>
<div class="section please-sign-up-section cl">
	<div class="please-integrate-blurb">Expert solutions increase store revenue.
	</div>
		<h2>Use what the experts know.</h2>
		<%= link_to 'Sign Up Now',  new_user_registration_path, class: "btn btn-xlarge btn-purple fr sign-up-btn" %>
		
	</div>
	<div class="section questions">
	<div class="column column-left">
	<div class="question">
	<h4>DOES CUSTOM DATA MATTER?</h4>
	<p>
	Yes! Seasonal products - such as white sandals, Easter baskets or citrus scented soaps - should be monitored closely to ensure profitability.  With a MySaleTable Basic or Professional account, you can manage products so that profit is impacted.
	</p>
	
	</div>
	<div class="question">
	<h4>DO I NEED TO CONNECT MY POS SYSTEM?</h4>
	<p>
	No, you can join as a Free, Basic or Professional customer and quickly select the items you want to track from our product database.
	</p>
	</div>
	<div class="question">
	<h4>WHO ELSE USES THESE SOLUTIONS?</h4>
	<p>
	Lifecycle pricing (as it’s known in the retail world) is a systematic, science-based process that helps minimize steep clearance markdowns. Every large retailer in America utilizes this knowledge to maximize store profitability. MySaleTable believes that small retailers should use these tools.
	</p>
	</div>
	</div>
	<div class="column">
	<div class="question">
	<h4>IS MY ACCOUNT AUTOMATICALLY BILLED?</h4>
	<p>If you’ve created a Basic or Professional account, we bill in (3) month increments. If you ever have questions regarding your billing, send us an email at stores@mysaletable.com and we’ll respond quickly.</p>
	</div>
	<div class="question">
	<h4>IS IT EASY TO UPGRADE MY ACCOUNT?</h4>
	<p>Yes. Simply log in to your account and select the plan that you’d like to switch to. It’s an easy process that takes less than a minute. </p>
	</div>
	<div class="question">
	<h4>WHAT IF I HAVE MORE THAN ONE STORE?</h4>
	<p>If you have multiple stores, you can organize your products by store in your Account.  If you have questions about this process, send an email to stores@mysaletable.com and we’re happy to help.</p>
	</div>
	<div class="question">
	<h4>MY QUESTION ISN’T INCLUDED HERE.</h4>
	<p>Simply send an email to stores@mysaletable.com and we’ll talk soon!</p>
	</div>
	</div>
	</div>