<div class='container'>
<div class='content'>

<div class='section'>
<div class='row-fluid pricing-table'>
<div class='span4 pricing-box'>
<h2 class='tier-name'>Free</h2>
<div class='tier-desc'>
<div class='dollar-amount'>
<div class='dollar'>$</div>
<div class='amount'>0</div>
<div class='month'>&nbsp;</div>
</div>
<li>Receive product pricing alerts for up to (5)</li>
</div>
</div>
<div class='span4 pricing-box'>
<h2 class='tier-name'>Basic</h2>
<div class='tier-desc'>
<div class='dollar-amount'>
<div class='dollar'>$</div>
<div class='amount'>9.99</div>
<div class='month'>per store per month</div>
</div>
<span class="pricing-paragraph">
<li>Custom pricing dashboard for (50)</li>
<li>Markdown alerts for optimized sales</li>
<li>Trend reports from marketing experts</li></span>
</div>
</div>
<div class='span4 pricing-box'>
<h2 class='tier-name'>Professional</h2>
<div class='tier-desc'>
<div class='dollar-amount'>
<div class='dollar'>$</div>
<div class='amount'>29.99</div>
<div class='month'>per store per month</div>
</div>
<span class="pricing-paragraph">
<li>Integrate your entire POS system</li>
<li>(1000) products/month</li>
<li>Markdown alerts for optimized sales</li>
<li>Trend reports from industryexperts</li></span>
</div>
</div>
</div>
</div>
<div class="section please-sign-up-section cl">
	<div class="please-integrate-blurb">Takes minutes to integrate. No credit card required.
	</div>
		<h2>Start fighting fraud today!</h2>
		<a class="btn btn-purple btn-xlarge fr sign-up-btn" data-toggle="modal" href="#signup" role="button">
		Sign up for free
		</a>
	</div>
	<div class="section questions">
	<div class="column column-left">
	<div class="question">
	<h4>Am I charged for every visitor?</h4>
	<p>
	You don't need a fraud score for each and every user on your site. Typically, you'll
	only want to score users who perform a high-risk action, such as a transaction.
	</p>
	<p>Suppose you operate an online shoe store.</p>
	<ul class="list-square">
	<li>
	Last month, you had <strong>100,000</strong> users
	</li>
	<li>
	Of those, <strong>8000</strong> actually transacted (bought something)
	</li>
	<li>
	You get fraud scores for those <strong>8000</strong> users (and for high-risk scores, you
	can reverse the transaction).
	</li>
	<li>
	You pay <strong>$300</strong> — the first 5000 scored users are free, the next 3000 scored are $0.10 each.
	</li>
	</ul>
	</div>
	<div class="question">
	<h4>Am I charged if the same user is scored twice?</h4>
	<p>
	We charge only once for each user scored in each calendar month. If you score the same user
	87 times in May, for instance, the cost won't exceed 10 cents for that user.
	</p>
	</div>
	<div class="question">
	<h4>If I set up auto-scoring and never call the score API directly, how will I be charged?</h4>
	<p>
	Alerts are built on top of the score API. You can configure alerts to be triggered only on
	<code>$transaction</code> events, and you’ll be charged for each user in a given month who
	makes a <code>$transaction</code>.
	</p>
	</div>
	</div>
	<div class="column">
	<div class="question">
	<h4>Is there a discount if I pre‑pay?</h4>
	<p>Yes! We offer a 20% discount for customers who pre-pay for 50,000 or more users scored. Contact <a href="mailto:info@siftscience.com">support@siftscience.com</a> to set this up.</p>
	</div>
	<div class="question">
	<h4>What happens if I exceed the free quota?</h4>
	<p>We’ll email you a breakdown of API usage and links to let you enter your billing information. If the account remains unpaid for 14 days, we reserve the right to disable scoring. But we’ll continue to accept and hold Javascript events and REST API requests, so that once you’re set up, we can send you any backlogged alerts and scores.</p>
	</div>
	<div class="question">
	<h4>Is invoicing available?</h4>
	<p>Yes. Contact <a href="mailto:info@siftscience.com">support@siftscience.com</a>.</p>
	</div>
	<div class="question">
	<h4>I have a question not covered here.</h4>
	<p>We’re happy to chat! Just email us at <a href="mailto:info@siftscience.com">support@siftscience.com</a>.</p>
	</div>
	</div>
	</div>