<div class='container'>
<div class='content'>

<div class='section'>
<div class='row-fluid pricing-table'>
<div class='span4 pricing-box'>
<h2 class='tier-name'>Free</h2>
<div class='tier-desc'>
<div class='dollar-amount'>
<div class='dollar'>$</div>
<div class='amount'>0</div>
<div class='month'>&nbsp;</div>
</div>
Up to
<strong>
15
<abbr title="Products for which you've asked us for competitive pricing.">suggested products</abbr>
</strong>
each month completely <strong>free</strong>.
</div>
</div>
<div class='span4 pricing-box'>
<h2 class='tier-name'>Standard</h2>
<div class='tier-desc'>
<div class='dollar-amount'>
<div class='dollar'>$</div>
<div class='amount'>9.99</div>
<div class='month'>per store per month</div>
</div>
<strong>
First 50
<abbr title="Products for which you've asked us for competitive pricing.">suggested products</abbr> free,
</strong>
then <strong>$1.99</strong> per additional suggested product per month.
</div>
</div>
<div class='span4 pricing-box'>
<h2 class='tier-name'>High-Volume</h2>
<div class='tier-desc'>
<div class='dollar-amount'>
<span class='amount dash'>&ndash;</span>
<div class='month'>&nbsp;</div>
</div>
If you require analytics on more than 100 products per month, we offer volume pricing.
<a href="mailto:stores@mysaletable.com">Email us!</a>
</div>
</div>
</div>
</div>