<div class="container">
	<div class="content">
		<div class="page-header">
			<h1 class="page-title">How MySaleTable Metrics Works</h1>
		</div>
		<div class="section">
			<p>
			MySaleTable Metrics helps small retailers improve profitability by providing markdown depth and timing analytics to ensure that discount sales contribute to improved overall gross margins.</p>
			<p>
			We provide pricing and promotion data for small retailers to strategically make markdown decisions during specific windows of time to prevent the need for margin-robbing price slashing.</p>
			<div class="system-diagram">
				<img src="/assets/Retail_Science.png">
				<p>
				Cras justo odio, dapibus.</p>
			</div>
			<div class="section">
				<h3>TIMING IS EVERYTHING</h3>
				<p>Seasonal shopping cycles now reach beyond the traditional spring/summer and fall/winter towards more and shorter seasons - 8 to 12 week cycles are common. Combined with brief seasonal events, like back-to-school and Halloween, maintaining inventory profitability is challenging for small stores.</p>

			  <p>The concept of “Shift-to-Early” is understood and embraced by large, profitable retailers as the key to maintaining product profitability</p>
			 <p>By using MySaleTable Metrics to promote a subset of styles and items at the right times - and without taking excessive discounts – stores create better balance between revenue and margin. 
			 </p>
			</div>
			<div class="section">
				<img src="assets/Dashboard_dummy.png">
			</div>
			<div class="section">
				<h2>Next steps?</h2>
				<p class="">
				Sign-up now and begin increasing product revenue today. 
				</p>
				<%= link_to 'Sign Up Today',  pricing_path, class: "btn btn-purple btn-xlarge fr product-page-sign-up-btn" %>
			</div>
		
		</div>

