<div class="container">
	<div class="main">
	<div class="content">
		
		<div class="section">
			
			
			<div class="system-diagram">
				<img src="/assets/MST_HowItWorks_Graphic.png">
				
			</div>
			</div>
			<div class="row home-section">
			<div class="span2 offset1">
			<div class="icon">
			<img src="/assets/badge.png">
			</div>
			</div>
			<div class="span8">
			<h3>
			What the pros know
			</h3>
			<p>
			Proven retail science reveals the benefits of minimizing price slashing and shifting discounts to earlier in the season. MySaleTable brings these solutions to small retailers.
			</p>
			</div>
			</div>
			
			<div class="section-break"></div>
			
			<div class="row home-section">
			<div class="span6 offset1">
			<h3>
			Real-time data alerts
			</h3>
			<p>
			Revenue is lost when discount pricing is done arbitrarily and too deeply.  Our email alert system notifies you when products should be promoted to avoid deep markdowns.
			</p>
			</div>
			<div class="span4 stopwatch">
			<br>
			<img src="/assets/stopwatch.png">
			</div>
			</div>
			
			<div class="section-break"></div>
			
			<div class="row home-section">
			<div class="span2 offset1">
			<div class="icon">
			<img src="/assets/lightbulb.png">
			</div>
			</div>
			<div class="span8">
			<h3>
			Comparable store insight
			</h3>
			<p>
			Curious about which products sell well in similar markets and stores across the country? With a MySaleTable Professional account, see the products that are performing well for other small retailers.
			</p>
			</div>
			</div>
			
			
			
			<div class="section next-steps">
				<h2>Next steps?</h2>
				<p class="">
				Sign-up now and begin increasing product revenue today. 
				</p>
				<%= link_to 'Sign Up Today',  pricing_path, class: "btn btn-purple btn-xlarge product-page-sign-up-btn" %>
			</div>
		
		</div>

