
@import 'bootstrap';

@import 'bootstrap-responsive';


  body {
    padding-top: -4px;
    padding-bottom: 60px;
  }

  /* Custom container */
  .container {
    margin: 0 auto;
    max-width: 1000px;
  }
  .container > hr {
    margin: 15px 0;
  }
  .sale-alerts > hr {
   margin: -4px 0;
}

  /* Main marketing message and sign up button */
  .jumbotron {
    margin: 20px 0;
    text-align: center;
  }
  .jumbotron h1 {
    font-size: 40px;
    line-height: 1;
color:#432060;
  }
  .jumbotron .lead {
    font-size: 24px;
    line-height: 1.25;
  }
  .jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
  }

  /* Supporting marketing content */
  .marketing {
    margin: 60px 0;
  }
  .marketing p + h4 {
    margin-top: 28px;
  }


  /* Customize the navbar links to be fill the entire space of the .navbar */
  .navbar .navbar-inner {
    padding: 0;
  }
  .navbar .nav {
    margin: 0;
    display: table;
    width: 100%;
  }
  .navbar .nav li {
    display: table-cell;
    width: 1%;
    float: none;
  }
  .navbar .nav li a {
    font-weight: bold;
    text-align: center;
    border-left: 1px solid rgba(255,255,255,.75);
    border-right: 1px solid rgba(0,0,0,.1);
  }
  .navbar .nav li:first-child a {
    border-left: 0;
    border-radius: 3px 0 0 3px;
  }
  .navbar .nav li:last-child a {
    border-right: 0;
    border-radius: 0 3px 3px 0;
  }
	.sale-alerts {
		margin-top: -20px !important;

	}
	.span3 > hr {
    margin: -10px 0;
	}
	.special {
		width: 826px;
		margin-left: 255px;
	}
	.monkey-business {
		position: absolute;
		margin-left: 281px;
		top: 221px;
	}
	.stpattys {
		margin-left:255px;
	}
	
	.btn-purple {
	  color: #ffffff;
	  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	  background-color: #592a84;
	  background-image: -moz-linear-gradient(top, #592a84, #51a351);
	  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#592a84), to(#7a549c));
	  background-image: -webkit-linear-gradient(top, #592a84, #7a549c);
	  background-image: -o-linear-gradient(top, #592a84, #7a549c);
	  background-image: linear-gradient(to bottom, #592a84, #7a549c);
	  background-repeat: repeat-x;
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
	  border-color: #592a84 #51a351 #387038;
	  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	  *background-color: #592a84;
	  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

	  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	}
	.btn-purple:hover,
	.btn-purple:active,
	.btn-purple.active,
	.btn-purple.disabled,
	.btn-purple[disabled] {
	  color: #ffffff;
	  background-color: #592a84;
	  *background-color: #7a549c;
	}
	.btn-purple:active,
	.btn-purple.active {
	  background-color: #592a84 \9;
	}
	
	/* CUSTOMIZE THE CAROUSEL
	    -------------------------------------------------- */

	    /* Carousel base class */
	    .carousel {
	      margin-bottom: 30px;
	    }

	    .carousel .container {
	      position: relative;
	      z-index: 9;
	    }

	    .carousel-control {
	      height: 80px;
	      margin-top: 0;
	      font-size: 120px;
	      text-shadow: 0 1px 1px rgba(0,0,0,.4);
	      background-color: transparent;
	      border: 0;
	      z-index: 10;
	    }

	    .carousel .item {
	      height: 300px;
	    }
	    .carousel img {
	      position: absolute;
	      top: 0;
	      left: 0;
	      min-width: 100%;
	      height: 300px;
	    }

	    .carousel-caption {
	      background-color: transparent !important;
				position: absolute;
				max-width: 192px;
				margin-top: 22px;
				left: 700px !important;
				top: -14px !important;
				bottom: 50px;
				padding: 15px 25px 264px 36px;
			
	    }
	    .carousel-caption h2 {
					margin: 0 0px 0 15px;
					font-size:21.5px !important;
	}
	    .carousel-caption .lead {
	      margin: 0 3px 4px 35px;
	      line-height: 1.25;
	      color: #333;
	    }
	    .lead {
			  margin: auto;
	     }
	    .carousel-caption .btn {
	      margin-top: 47px;
	      width: 100px;
	      margin-left: 79px;
	      
	    }
	    
	    .asfeatured {
				font-size:x-large;
				letter-spacing:2px;
				margin-top: 20px;

			}
			.press-pass {
				margin-left: 0px;
				font-size:21.5px;
			}
			.footer {
				background-color: #f5f5f5;
				padding: 5px;
			}
			.heading-graphics {
				text-align:center;
			}

.footer {
margin-top: 50px;
color: $grayLight;
    a {
color: $gray;
}

}


