
@import 'bootstrap';




  body {
    padding-top: -4px;
    padding-bottom: 60px;
  }

  /* Custom container */
  .container {
    margin: 0 auto;
    max-width: 1000px;
  }
  .container > hr {
    margin: 15px 0;
		border-top: 1px solid #bdbdbd !important;
  }
  .sale-alerts > hr {
   margin: -4px 0;
}

  /* Main marketing message and sign up button */
  .jumbotron {
    margin: 20px 0;
    text-align: center;
  }
  .jumbotron h1 {
    font-size: 40px;
    line-height: 1;
color:#432060;
  }
  .jumbotron .lead {
    font-size: 24px;
    line-height: 1.25;
  }
  .jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
  }

  /* Supporting marketing content */
  .marketing {
    margin: 60px 0;
  }
  .marketing p + h4 {
    margin-top: 28px;
  }


  /* Customize the navbar links to be fill the entire space of the .navbar */
  .navbar .navbar-inner {
    padding: 0;
  }
  .navbar .nav {
    margin: 0;
    display: table;
    width: 100%;
  }
  .navbar .nav li {
    display: table-cell;
    width: 1%;
    float: none;
  }
  .navbar .nav li a {
    font-weight: bold;
    text-align: center;
    border-left: 1px solid rgba(255,255,255,.75);
    border-right: 1px solid rgba(0,0,0,.1);
  }
  .navbar .nav li:first-child a {
    border-left: 0;
    border-radius: 3px 0 0 3px;
  }
  .navbar .nav li:last-child a {
    border-right: 0;
    border-radius: 0 3px 3px 0;
  }
	.sale-alerts {
		margin-top: -20px !important;

	}
	.span3 > hr {
    margin: -10px 0;
	}
	.special {
		width: 826px;
		margin-left: 255px;
	}
	.monkey-business {
		position: absolute;
		margin-left: 281px;
		top: 221px;
	}
	.stpattys {
		margin-left:255px;
	}
	
	.btn-purple {
	  color: #ffffff;
	  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	  background-color: #592a84;
	  background-image: -moz-linear-gradient(top, #592a84, #51a351);
	  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#592a84), to(#7a549c));
	  background-image: -webkit-linear-gradient(top, #592a84, #7a549c);
	  background-image: -o-linear-gradient(top, #592a84, #7a549c);
	  background-image: linear-gradient(to bottom, #592a84, #7a549c);
	  background-repeat: repeat-x;
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
	  border-color: #592a84 #51a351 #387038;
	  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	  *background-color: #592a84;
	  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

	  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	}
	.btn-purple:hover,
	.btn-purple:active,
	.btn-purple.active,
	.btn-purple.disabled,
	.btn-purple[disabled] {
	  color: #ffffff;
	  background-color: #592a84;
	  *background-color: #7a549c;
	}
	.btn-purple:active,
	.btn-purple.active {
	  background-color: #592a84 \9;
	}
	
	/* CUSTOMIZE THE CAROUSEL
	    -------------------------------------------------- */

	    /* Carousel base class */
	    .carousel {
	      margin-bottom: 22pxpx;
	    }

	    .carousel .container {
	      position: relative;
	      z-index: 9;
	    }

	    .carousel-control {
	      height: 80px;
	      margin-top: 0;
	      font-size: 120px;
	      text-shadow: 0 1px 1px rgba(0,0,0,.4);
	      background-color: transparent;
	      border: 0;
	      z-index: 10;
	    }

	    .carousel .item {
	      height: 300px;
	    }
	    .carousel img {
	      position: absolute;
	      top: 0;
	      left: 0;
	      min-width: 100%;
	      height: 300px;
	    }

	    .carousel-caption {
	      background-color: transparent !important;
				position: absolute;
				max-width: 192px;
				margin-top: 22px;
				left: 700px !important;
				top: -14px !important;
				bottom: 50px;
				padding: 15px 25px 264px 36px;
			
	    }
	    .carousel-caption h2 {
					margin: 0 0px 0 15px;
					font-size:21.5px !important;
	}
	    .carousel-caption .lead {
	      margin: 0 3px 4px 35px;
	      line-height: 1.25;
	      color: #333;
	    }
	    .lead {
			  margin: auto;
	     }
	    	.carousel-caption .btn-one {
		      margin-top: 57px;
					width: 100px;
					margin-left: 35px;
					position: absolute;
					display: block;
					
		      
		    }
		
		    .carousel-caption .btn-two {
		      margin-top: 151px;
					width: 100px;
					margin-left: 36px;
					position: absolute;
					display: block;
		      
		    }
	    
	    .asfeatured {
				font-size:x-large;
				letter-spacing:2px;
				margin-top: 20px;

			}
			.press-passes {
				margin-left: 0px;
				font-size:15.5px;
			}
			.footer {
				background-color: #f5f5f5;
				padding: 14px;
			}
			.heading-graphics {
				text-align:center;
			}
			
			/* About Us Page
			    -------------------------------------------------- */

					.image-text {
						position:relative;
					  max-height:316px;
					}

					.image-text .aboutusus {
						text-align:center;
						top:32px;
					        right:-9px;
						position:absolute; 
						vertical-align:middle;
						width:100%;
						display:block;

					}
			    
					.modal-backdrop {
					  position: fixed;
					  top: 0;
					  right: 0;
					  bottom: 0;
					  left: 0;
					  z-index: 1040;
					  background-color: #FFFFFF !important;

					}
					
					/* Pricing Page
					    -------------------------------------------------- */
					.pricing-table {
						box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
					}
					
					.pricing-table .pricing-box {
						margin-left: 0px;
						text-align: center;
						width: 33.3333333333%;
					
					}
					
					.pricing-table .tier-name {
						background-color: #432060;
						color: white;
						padding: 10px 20px;
						text-transform: uppercase;
						margin-top: 0;
						margin-bottom: 0;
						font-weight: normal;
						font-size: 20px;
						letter-spacing: 2px;
	          }
	
					.pricing-table .tier-desc {
							height: 220px;
							padding: 12px 24px;
							color: #432060;
							font-weight: lighter;
							font-size: 14px;
							line-height: normal;
							border-left: 2px solid #F6F2E6;
							background: #fffbea;
							background: -moz-radial-gradient(center, ellipse cover, #fffbea 0%, #e8e5d5 100%);
							background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #fffbea), color-stop(100%, #e8e5d5));
							background: -webkit-radial-gradient(center, ellipse cover, #fffbea 0%, #e8e5d5 100%);
							background: -o-radial-gradient(center, ellipse cover, #fffbea 0%, #e8e5d5 100%);
							background: -ms-radial-gradient(center, ellipse cover, #fffbea 0%, #e8e5d5 100%);
							background: radial, 50% 50%, ellipse at center, #fffbea 0%, #e8e5d5 100%;
					}

					.pricing-table .dollar-amount {
							margin-top: -28px;
							margin-bottom: 15px;
					}
					
					.pricing-table .dollar-amount .dollar {
							position: relative;
							display: inline-block;
							top: -68px;
							font-size: 25px;
							left: 6px;
							margin-left: -32px;
					}
					
					.pricing-table .dollar-amount .amount {
							display: inline-block;
							position: relative;
							font-size: 122px;
							letter-spacing: -6px;
					}
					
					.pricing-table .dollar-amount .month {
							text-transform: uppercase;
							display: block;
							font-size: 15px;
							margin-top: -23px;
					}
					
					.pricing-paragraph {
					    text-align: left;
					}
					
					.please-integrate-blurb {
					display: inline-block;
					font-family: "myriad-pro", "Helvetica Neue", Helvetica, Arial;
					font-weight: lighter;
					font-size: 28px;
					line-height: normal;
					color: #666;
					margin-top: 0;
					margin-left: 53px;
					}
					
					.please-integrate-blurb {
					margin-bottom: 0;
					}
					
					.please-sign-up-section h2 {
					margin-left: 53px;
					}
					
					.questions {
					margin-top: 28px;
					width: 110%;
					}
					
					.questions .column.column-left {
					margin-right: 8%;
					}
					
					.questions .column {
					width: 42%;
					display: inline-block;
					vertical-align: top;
					}
					
					.questions .question h4 {
					font-size: 16px;
					letter-spacing: 1px;
					text-transform: uppercase;
					border-bottom: 3px solid #e8e5d5;
					padding-bottom: 10px;
					display: inline-block;
					font-weight: normal;
					}
					
					.list-square {
					list-style: circle;
					}
					
					.section.please-sign-up-section .sign-up-btn {
					margin-top: -89px;
					margin-right:53px;
					}
					
					.section.please-sign-up-section {
					border-top: 3px double #e6e7e2;
					border-bottom: 3px double #e6e7e2;
					padding-bottom: 18px;
					padding-top: 12px;
					margin-bottom: 36px;
					margin-top: 40px;
					}
					
					.cl{
					 clear:both;
					}
					
					.blog-line {
						 padding:12px;
						 background-color:#f5f5f5;
						 text-align:center;
						 
					}
					
					.blog-line a {
						color:#333
					}
					
					.blog-graphic-position {
					  vertical-align: text-bottom;
					}
					
					.product-page-sign-up-btn {
					margin-top: -80px;
					}
					
					.fr {
					float: right;
					}
					
					.btn-xlarge {
					font-size: 27px;
					padding: 25px 40px;
					border-radius: 8px;
					}
					
					.section {
					margin-bottom: 30px;
					}
					
					.contact-button {
					 position: fixed;
				 	 top: 480px;
				   right: 0px;
					 opacity: 1;
					 z-index: 9;
					 -webkit-transform: rotate(-270deg); 
					    -moz-transform: rotate(-270deg);
					}
					
					.contact-button a {
							color: #333;
							text-decoration:none;
					}
.footer {
margin-top: 20px;
color: $grayLight;
    a {
color: $gray;
}

}


