<div class="footer">
  <medium>
   	 &copy;<%= link_to "MySaleTable 2013", "http://mysaletable.com" %> | 
	    <%= link_to "About Us", about_path %> |  <a href="#">Terms of Service</a> | <a href="privacy.html">Privacy</a>
  </medium>
</div>

